---

---

<header>
  <h5>ELIGE A TU</h5>
  <h1>CAMPEÓN</h1>
</header>
<div class="hero-subtitle">
  <p>
    Teniendo en cuenta que hay más de 140 campeones, no tardarás en encontrar tu
    estilo de juego. Domina a uno o a todos.
  </p>
</div>

<style>
  header {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
    margin: 30px auto 10px auto;
    line-height: 1;
    letter-spacing: 2px;
  }
  h1 {
    font-family: "BeaufortforLOL-HeavyItalic";
    font-size: 7rem;
  }
  h5 {
    font-family: "BeaufortforLOL-BoldItalic";
    font-size: 1.5rem;
  }
  .hero-subtitle {
    max-width: 460px;
    margin: 0 auto;
    font-size: 0.875rem;
    text-align: center;
    letter-spacing: 0.08em;
    line-height: 1.6;
  }
</style>
